.nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    min-height: 2rem;
    font-size: 1.5rem;
    padding: 0 20px;
}
.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  li a {
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    width: 100%;
  }

  li a:hover,
   a:focus,
   a:active { 
    background-color: #03a9f4;
    color: white;
    border: none;
    outline:none;
    box-shadow:none;
  }

/*media queries*/

@media screen and (min-width: 515px) {
  .nav {
    align-items: center;
    padding: 20px;
    max-width: 70vw;
    justify-content: space-around;
  }

  .nav ul {
    width: 70%;
  }

  li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
}


